<!--MAINMENU AREA-->
<div class="mainmenu-area" id="mainmenu-area">
    <div class="mainmenu-area-bg"></div>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><img src="/assets/img/logo.png" alt="Teach Cyber"></a>
            </div>
            {% comment %} <div class="search-and-language-bar pull-right" style="padding-top: 1px;">
                <ul>
                    <li class="search-box"><i class="fa fa-search" onclick="location.href='/search/';"></i></li>
                </ul>
                <form action="/search/" class="search-form" method="get">
                    <input type="search" id="search-query" name="q">
                    <button type="submit" value="search"><i class="fa fa-search"></i></button>
                </form>
            </div> {% endcomment %}
            <div id="main-nav" class="stellarnav">
                <ul id="nav" class="nav navbar-nav">
                    <li><a href="/diy/">DIY</a></li>
                    <li><a href="/nifty/">Nifty</a></li>
                    <li><a href="/cs0/">CS0</a></li>
                    <li><a href="/cs1/">CS1</a></li>
                    <li><a href="/cs2/">CS2</a></li>
                    <li><a href="/defense/">Defense</a></li>
                    <li><a href="/offense/">Offense</a></li>
                    <li><a href="/interdisciplinary/">Interdisciplinary</a></li>
                    <li><a href="/search/"><i class="fa fa-search"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!--END MAINMENU AREA END-->
